<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-box">
        <h1>Register</h1>
        <form action="/users/register" method="POST">
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="username" required>
                <label>Username</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <button type="submit">Register</button>
        </form>
        <div class="register">
            <p>Already have an account? <a href="/users/login">Login here</a></p>
        </div>
    </div>
</body>
</html>

