<!-- views/registration-success.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
</head>
<body>
    <h1>Registration Successful!</h1>
    <p>Your account has been created. You can now log in.</p>
    <a href="/users/login"><button>Login</button></a>
</body>
</html>
