<!DOCTYPE html>
<html>
<head>
    <title>Search Restaurants</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="profile-page">
    <h1>Search Nearby Restaurants</h1>
    <form method="GET" action="/restaurants/search">
        <input type="text" name="latitude" placeholder="Your Latitude">
        <input type="text" name="longitude" placeholder="Your Longitude">
        <input type="text" name="radius" placeholder="Radius in meters">
        <button class= "search-near-but" type="submit">Search</button>
    </form>
</body>
</html>
